@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Khand:wght@300;400;500;600&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,500&family=Unbounded:wght@200;300;400;500;600;900&family=Urbanist:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");
.body {
  font-family: "Urbanist", sans-serif;
}

.header {
  background: #fff7f4;
}
.header .bg-body-tertiary {
  background: transparent !important;
}

.navbar-brand {
  font-size: 24px;
  font-family: "Urbanist", sans-serif;
  color: #525EE0;
}

.navbar-expand-lg .navbar-nav {
  margin-left: 150px;
  font-family: "Urbanist", sans-serif;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;
  color: black;
  font-weight: bold;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #525EE0;
}

.searchandlogin {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 480px) {
  .searchandlogin {
    margin-left: 10px;
  }
}
.searchandlogin button {
  float: left;
  padding: 10px 20px;
}
.searchandlogin .register {
  margin-left: 30px;
  float: left;
  padding: 5px 20px;
  background: #525EE0;
  display: block;
}
.searchandlogin .register a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.searchandlogin .register i {
  padding-right: 8px;
}
.searchandlogin .register p {
  float: right;
}

.banner {
  background: url(http://sangalotech.com/html/12/assets/images/hero-bg.jpg);
  height: 100vh;
}
.banner .col-lg-6 p {
  font-size: 20px;
  color: #525EE0;
  font-family: "Urbanist", sans-serif;
}
@media (min-width: 0px) and (max-width: 480px) {
  .banner .col-lg-6 p {
    font-size: 10px;
  }
}
.banner .col-lg-6 h2 {
  font-size: 70px;
  font-weight: bold;
  font-family: "Urbanist", sans-serif;
}
@media (min-width: 0px) and (max-width: 480px) {
  .banner .col-lg-6 h2 {
    font-size: 24px;
  }
}
.banner .col-lg-6 .para1 {
  color: #6F6B80;
}
@media (min-width: 0px) and (max-width: 480px) {
  .banner .col-lg-6 .para1 {
    font-size: 10px;
  }
}
.banner .col-lg-6 .get {
  padding: 10px;
  background: #525EE0;
  color: white;
  width: 40%;
  border-radius: 5px;
}
@media (min-width: 0px) and (max-width: 480px) {
  .banner .col-lg-6 .get {
    padding: 5px;
    width: 70%;
  }
}
.banner .col-lg-6 .get:hover {
  background: black;
}
.banner .col-lg-6 .get span {
  color: white;
  font-weight: bold;
}
.banner .col-lg-6 .get i {
  color: white;
}
.banner .col-lg-6 {
  position: relative;
}
.banner .col-lg-6 .image1 {
  top: 30%;
  left: 2%;
}
@media (min-width: 0px) and (max-width: 480px) {
  .banner .col-lg-6 .image1 {
    width: 70%;
    height: 70%;
  }
}
.banner .col-lg-6 .image2 {
  position: absolute;
  top: 3%;
  left: 60%;
}
@media (min-width: 0px) and (max-width: 480px) {
  .banner .col-lg-6 .image2 {
    display: none;
  }
}

.popular p {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  color: #525EE0;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
}
.popular h2 {
  text-align: center;
  font-weight: bold;
  font-family: "Urbanist", sans-serif;
  font-size: 45px;
}

.cat1 .row .d-flex {
  background: rgb(230, 224, 224);
  padding: 10px;
  width: 32%;
}
.cat1 .row .d-flex:hover {
  background: #525EE0;
}
@media (min-width: 0px) and (max-width: 480px) {
  .cat1 .row .d-flex {
    width: 100%;
  }
}
.cat1 .row .d-flex .icon1 {
  background: white;
  padding: 10px;
}
.cat1 .row .d-flex .dev a {
  text-decoration: none;
  color: black;
}

.who .col-lg-6 .image4 {
  position: absolute;
  top: 30%;
  left: 40%;
}
@media (min-width: 0px) and (max-width: 480px) {
  .who .col-lg-6 .image4 {
    display: none;
  }
}
.who .col-lg-6 p {
  color: #525EE0;
  font-size: 24px;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
}
.who .col-lg-6 h2 {
  font-size: 34px;
  font-weight: bold;
  font-family: "Urbanist", sans-serif;
}
.who .col-lg-6 .d-flex .imageicon {
  width: 90px;
  height: 50px;
  background: gray;
  border-radius: 50%;
  display: block;
}
.who .col-lg-6 .d-flex .detail h3 {
  font-size: 25px;
}
.who .col-lg-6 .d-flex .detail .para2 {
  font-size: 15px;
  color: gray;
  text-transform: lowercase;
}
.who .button {
  padding: 10px;
  background: #525EE0;
  width: 35%;
  border-radius: 10px;
}
@media (min-width: 0px) and (max-width: 480px) {
  .who .button {
    width: 70%;
  }
}
.who .button:hover {
  background: black;
}
.who .button a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
  font-weight: bold;
}
.who .button i {
  padding-left: 10px;
}

.our {
  background: #fff7f4;
}
.our .heading1 {
  text-align: center;
}
@media (min-width: 0px) and (max-width: 480px) {
  .our .heading1 {
    text-align: center;
    font-size: 15px;
  }
}
.our .heading1 P {
  font-size: 24px;
  font-family: "Urbanist", sans-serif;
  color: #525EE0;
}
.our .heading1 h1 {
  font-size: 50px;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
}
.our .card {
  position: relative;
}
.our .card span {
  color: #525EE0;
  border-radius: 5px;
  padding: 5px;
  background: white;
  position: absolute;
  top: 5%;
  left: 5%;
}
.our .card i {
  color: white;
  position: absolute;
  top: 5%;
  left: 85%;
  background: gray;
  border-radius: 50%;
}
.our .card .image5 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner2 {
  background: #525EE0;
}
.banner2 .free .para2 {
  padding-top: 20px;
  color: white;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: bold;
}
.banner2 .free h2 {
  color: white;
  font-size: 33px;
  font-weight: bold;
}
.banner2 .free .para3 {
  color: white;
  font-size: 20px;
  padding-top: 20px;
}
.banner2 .free a {
  padding: 20px;
  background: red;
  border-radius: 5px;
  margin-top: 20px;
}
.banner2 .free a:hover {
  background: black;
}
.banner2 .free a span {
  color: white;
  font-weight: bold;
}
.banner2 .free a i {
  color: white;
}

.banner3 .col-lg-12 p {
  color: #525EE0;
  text-align: center;
  font-size: 23px;
  font-family: "Urbanist", sans-serif;
}
.banner3 .col-lg-12 h2 {
  color: black;
  font-size: 34px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}

.fotter .row .subfotter .box h2 {
  font-size: 33px;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
}
.fotter .row .subfotter .box p {
  font-size: 18px;
  font-family: "Urbanist", sans-serif;
}
.fotter .row .subfotter .box .social-media a {
  padding: 10px;
  background: gray;
  margin: 5px;
  color: white;
}
.fotter .row .subfotter .box .social-media a:hover {
  background: #525EE0;
}
.fotter .row .subfotter2 .box3 h2 {
  font-size: 33px;
  font-weight: bold;
  font-family: "Urbanist", sans-serif;
}
.fotter .row .subfotter2 .box3 ul li {
  padding: 4px;
}
.fotter .row .subfotter2 .box3 ul li a {
  text-decoration: none;
  color: white;
}
.fotter .row .subfotter2 .box3 ul li a:hover {
  color: #525EE0;
}/*# sourceMappingURL=style.css.map */